* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main {
  width: 100%;
  height: 100vh;
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  position: relative;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:absolute;
}

nav .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}



a.link-default {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
a.link-default:before,
a.link-default:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #18f08b;
  transition: 0.5s;
}
a.link-default:after {
  left: 0;
  bottom: -10px;
}
a.link-default:before {
  right: 0;
  top: -10px;
}
a.link-default:hover {
  color: #ffffff;
}
a.link-default:hover:after,
a.link-default:hover:before {
  width: 100%;
}



div {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    position: absolute;
    padding: 0px;
    width:100%;
    column-gap: 100px;

}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
margin-top:50px;
  padding: 0px 8%;
  column-gap: 100px;
}

.main article {
  flex-grow: 3;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.h1-default {
  font-size: 3em;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
.h1-default span {
  font-family: "Quicksand", sans-serif;
  color: #f5ef42;
}

.main article p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.25em;
}

.main article p span {
  font-family: "Quicksand", sans-serif;
  color: #f5ef42;
}

.main section {
  flex-grow: 1;
  border: 3px solid orangered;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 100px;
  width:100%;
  background-color: rgba(0, 0, 0, 0.5);
  color:#fff;
  margin-top:50px;
  padding: 0px 8%;
}


.button-default {
  width: 300px;
  height: 30px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius: 20px;
  margin-top: 10px;
  align-self: center;
}

.button-default:hover{
  border: 2px solid #18f08b;
  cursor: pointer;
}

.input-default {
  width: 100%;
  margin: 10px 0;
}

.social {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 5px;
}
#my-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #my-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #my-video {
    width: auto;
    height: 100%;
  }
}
