* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main {
  width: 100%;
  height: 100vh;
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  position: relative;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  position: absolute;
  padding: 0px 8%;
  column-gap: 100px;
}

.main article {
  flex-grow: 3;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 10px;
  display:flex;
  flex-direction: column;
}

.h1-default {
  font-size: 3em;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}
.h1-default span {
  font-family: "Quicksand", sans-serif;
  color: #f5ef42;
}

.main article p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.25em;
}

.main article p span {
  font-family: "Quicksand", sans-serif;
  color: #f5ef42;
}

.main section {
  flex-grow: 1;
  border: 3px solid orangered;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.button-default {
  width: 300px;
  height: 30px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius:20px;
  margin-top:10px;
  align-self: center;
}

#my-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #my-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #my-video {
    width: auto;
    height: 100%;
  }
}
